/* Navbar */

.navbar {
  transition: width 500ms ease;
  overflow: none;
}

.nav-link {
  text-decoration: none;
  filter: grayscale(100%) opacity(0.6);
  transition: 500ms;
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  transition: 500ms;
}

.navbar svg {
  min-width: 2rem;
  margin: 0 1.5rem;
  transition: 150ms;
}

.nav-logo svg {
  transform: rotate(0deg);
  transition: 500ms;
}

.navbar:hover .nav-logo svg {
  transform: rotate(-180deg);
}

.logo-text {
  transition: 500ms;
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
}

.nav-heading {
  transition: opacity 250ms ease-in 50ms;
  opacity: 0;
}

/* mobile - navbar */

@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .nav-logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }
}

/* desktop - navbar */

@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 6rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text,
  .navbar:hover .logo-text {
    opacity: 1;
    display: block;
    transition: opacity 400ms ease-out 150ms;
  }

  .navbar:hover .nav-logo svg {
    margin-left: 13rem;
  }

  .navbar:hover .logo-text {
    left: 10px;
  }
}

/* toggle-switch */

.toggle-circle {
  top: -0.2rem;
  left: -0.2rem;
  transition: all 0.3s ease-in-out;
}

input:checked ~ .toggle-circle {
  transform: translateX(100%);
  background-color: #6366f1;
}
input:checked ~ .toggle-path {
  background-color: #a5b4fc;
}

/* recurring-type animation */

.recurring-container {
  transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);

  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;

  perspective: 1000;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;

  overflow: hidden;
  transition: max-height 0.4s ease-in;
  max-height: 0;
}

.recurring-container.active {
  max-height: 100px;
  transition: max-height 0.4s ease-out;
}

/* number field default spin buttons removed */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
