/* Navbar */

.navbar {
  transition: width 500ms ease;
  overflow: none;
}

.nav-link {
  text-decoration: none;
  transition: 500ms;
}
.nav-link button {
  text-decoration: none;
  transition: 500ms;
}

.nav-link:hover {
  transition: 500ms;
}

.navbar svg {
  min-width: 2rem;
  margin: 0 1.15rem;
  transition: 150ms;
}

.nav-logo svg {
  transform: rotate(0deg);
  transition: 500ms;
  margin: 0 2rem;
}

.navbar:hover .nav-logo svg {
  transform: rotate(-180deg);
}

.nav-heading,
.link-text {
  transition: 400ms;
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
}

.nav-heading,
.link-text {
  transition: opacity 250ms ease-in 50ms;
  opacity: 0;
}

/* mobile - navbar */

@media only screen and (max-width: 639px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }
  .navbar svg {
    margin: 0;
  }

  .nav-logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    display: flex;
    justify-content: center;
    padding-top: 1.1rem;
    padding-bottom: 1.1rem;
    margin: 0.9rem;
  }
  .nav-item {
    margin: 0.8rem;
  }
}

/* desktop - navbar */

@media only screen and (min-width: 640px) {
  .navbar {
    top: 0;
    width: 8rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 18rem;
    overflow: none;
  }

  .navbar:hover .nav-heading {
    opacity: 1;
    display: block;
    transition: opacity 400ms ease-out 150ms;
  }
  .navbar:hover .link-text {
    opacity: 1;
    display: block;
    transition: opacity 1000ms ease-out 1000ms;
    transition-delay: 200s;
  }

  .navbar:hover .nav-logo svg {
    margin-left: 13rem;
  }

  .navbar:hover .nav-heading {
    left: 10px;
  }
}

/* recurring-type animation */

.recurring-container {
  transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);

  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;

  perspective: 1000;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;

  overflow: hidden;
  transition: max-height 0.3s ease-in;
  max-height: 0;
}

.recurring-container.active {
  overflow: visible;
  max-height: 100px;
  transition: max-height 0.3s ease-out;
}

/* number field default spin buttons removed */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.spinner > svg {
  height: 100vh;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

progress {
  height: 18px;
}
progress::-webkit-progress-bar {
  background-color: rgba(209, 213, 219, 100%);
  border-radius: 10px;
}
.dark progress::-webkit-progress-bar {
  background-color: #374151;
  border-radius: 10px;
}
progress::-webkit-progress-value {
  background-image: -webkit-linear-gradient(
    right,
    rgba(99, 102, 241, 100%),
    rgba(79, 70, 229, 100%)
  );
  border-radius: 10px;
}
progress::-moz-progress-bar {
  background-color: rgba(209, 213, 219, 100%);
  border-radius: 10px;
  background-image: -webkit-linear-gradient(
    right,
    rgba(99, 102, 241, 100%),
    rgba(79, 70, 229, 100%)
  );
}
