.navbar {
  transition: width 500ms ease;
  overflow: none;
}

.nav-link {
  text-decoration: none;
  filter: grayscale(100%) opacity(0.6);
  transition: 500ms;
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  transition: 500ms;
}

.navbar svg {
  min-width: 2rem;
  margin: 0 1.5rem;
  transition: 150ms;
}

.nav-logo svg {
  transform: rotate(0deg);
  transition: 500ms;
}

.navbar:hover .nav-logo svg {
  transform: rotate(-180deg);
}

.logo-text {
  transition: 500ms;
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
}

.nav-heading {
  transition: opacity 250ms ease-in 50ms;
  opacity: 0;
}

/* mobile */

@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .nav-logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }
}

/* desktop */

@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 6rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text,
  .navbar:hover .logo-text {
    opacity: 1;
    display: block;
    transition: opacity 400ms ease-out 150ms;
  }

  .navbar:hover .nav-logo svg {
    margin-left: 13rem;
  }

  .navbar:hover .logo-text {
    left: 10px;
  }
}
